[Desktop Entry]
Type=Application
Name=chillerbot-cc
GenericName=Platform Game
Exec=chillerbot-cc %u
Icon=chillerbot-cc
Terminal=false
Keywords=game;multiplayer;
Categories=Game;ArcadeGame;
MimeType=x-scheme-handler/chillerbot-cc;
Comment=Launch chillerbot-cc
